<header class="main-nav-container">
    <a id="Homepage" href="/index">Travel</a>
    <div class="right">
        <button class="btn-toggle-menu">
            <svg viewBox="0 0 100 60" width="30" height="30">
                <rect width="100" height="10"></rect>
                <rect y="30" width="100" height="10"></rect>
                <rect y="60" width="100" height="10"></rect>
            </svg>
        </button>    
        </div>
        <nav class="main-nav main-nav-hidden">
            <ul>
                    <li><a href="/reservations" id= "reservationslink">Reservations</a></li>
                    <li><a href="/tours" id= "tourslink">Tours</a></li>
                    <li><a href="/turksandcaico" id= "turksandcaicolink">Turks and Caico</a></li>
            </ul>
        </nav>

</header>