<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <meta name="description" content="This website provides many of the necessary resources to help you plan your long awaited vacation.">
        <meta name="author" content="Dylan Yu">
        <link rel="icon" type="image/png" href="/assets/favicon.ico">
        <link rel="stylesheet" href="/assets/styles.css">
        <link rel="stylesheet" href="/assets/menu.css">
    <script src="/assets/menu.js" defer></script>
    </head>