:root {
    --header-height: 130px;
    --menu-bg: rgb(255, 255, 255);
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--header-height);
    position: fixed;
    z-index: 10;
    top: 0;
    background: linear-gradient(to bottom, #7fad9f, #ffffff);
}

header img {
    padding: 10px;
}

ul{
    list-style: none;
    margin: 50px;
}

nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: var(--header-height);
    left: 0;
    width: 100%;
    height: calc(100vh - 130px);
    text-align: center;
    background: linear-gradient(to bottom, #7fad9f, #ffffff);
}

nav a {
    text-decoration: none;
    padding: 10px;
    margin: auto;
    margin-left: 25px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(90, 71, 104);
}

.page {
    display: none;
}

.page:target {
    display: block;
}

.btn-toggle-menu {
    visibility: visible;
    margin: 20px;
    border: 0;
    background: transparent;
}

.main-nav-hidden {
    display: none;
}


@media (min-width: 675px) {
    nav {
        display: flex;
        flex-direction: row;
        height: var(--header-height);
        align-items: center;
        padding-right:20px;
        justify-content: space-around;
        text-align: center;
    }

    nav a {
        text-align: left;
    }

    .main-nav-hidden {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        position: static;
        width: 100%;
        margin-left: 25px;
    }

    main {
        margin-top: var(--header-height);
    }

    .btn-toggle-menu {
        visibility: hidden;
    }

}

@media (max-width: 674px){
    nav{
        background: #ffffff;
    }
    nav a{
        font-size: 32px;
        margin-bottom: 150px;
        transition: color 0.5s;;
    }

    nav a:hover, nav a:focus{
        color: #a1a1a1;
    }
}