/*Navigation*/

/*Homepage*/

.Home main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.Home img {
    max-width: 70% ;
    height: auto;
    margin: 0 auto;
    display: block;
}

h1{
    color: #000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

h3{
    color: #000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

#Homepage{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 42px;
    margin: 10px;
    margin-left: 50px;
}

.home{
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

.home:hover{
    transform: scale(1.3);
}

/* Home */

.Tagline{
    color: #000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


main{
    margin-top: 200px;
}

@media(min-width: 675px){
    nav a{
        font-size: 20px;
        transition: color 0.5s;
    }

    nav a:hover, nav a:focus{
        color: #ffffff;
        text-decoration: underline;
    }

    ul{
        display: flex;
        justify-content: space-around;
    }
}

/*Reservations page*/
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    margin-left: 10px;
    padding: 0;
}


.container {
    display: flex;
    max-width: 75%;
    margin: 50px auto;
    flex-wrap: wrap;
}

.text-box,
.image-box {
    flex: 1;
    position: relative; 
    margin-left: 10px;
    flex-wrap: wrap;
    max-width: 800px;
    max-height: 425px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.page2text {
    margin-top: 0;
}

.page2mini {
    margin-top: 0;
    font-size: 18px;
}

.text-box {
    margin-left: 10px;
}

.text-box ul{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.text-box li{
    font-size: 14px;
    margin-bottom: 20px;
}

.image-box img {
    max-width: 100%;
    width: 800px;
    height: 425px;
    border: 1px solid #ddd;
    border-radius: 5px;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 425px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.image-box:hover .overlay {
    opacity: 1;
}


.priceline-box,
.kayak-box,
.expedia-box,
.booking-box{
    display: inline-block;
    padding: 12px 24px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px; 
    transition: background-color 0.3s ease-in-out;
}


.image-box:hover .priceline-box,
.image-box:hover .kayak-box,
.image-box:hover .expedia-box,
.image-box:hover .booking-box{ 
    background-color: #926e96;
}

@media(max-width: 575px) {
    .page2mini {
        font-size: 0.6em;
    }
}

@media(max-width: 575px) {
    .text-box li {
        font-size: 0.5em;
    }
}


/*Tours*/

.get-box,
.embassy-box{
    display: inline-block;
    padding: 12px 24px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px; 
    transition: background-color 0.3s ease-in-out;
}


.image-box:hover .get-box,
.image-box:hover .embassy-box{ 
    background-color: #926e96;
}

/*Turks and Caico*/

.travel-box,
.island-box,
.embassy2-box{
    display: inline-block;
    padding: 12px 24px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px; 
    transition: background-color 0.3s ease-in-out;
}


.image-box:hover .travel-box,
.image-box:hover .island-box,
.image-box:hover .embassy2-box{ 
    background-color: #926e96;
}