<!DOCTYPE html>
<html lang="en">
    {% include 'head', title:'Reservations | Lucayan Archipelago' %}
    <body class="reservations">
        {% include 'header' %}

<main>
    <h1>
        Reservations
    </h1>
<body>
<div class="container">
    <div class="image-box">
        <img src="/assets/image1.jpg" alt="Reservation Image">
        <div class="overlay">
            <a href="https://www.priceline.com/?tab=flights" class="priceline-box">Priceline</a>
            <a href="https://www.kayak.com/" class="kayak-box">Kayak</a>
        </div>
    </div>
    <div class="text-box">
        <h2 class="page2text">Flights</h2>
        <p class="page2mini">The first step to a successful vacation is finding safe and reliable flights. Flights are labeled based on price. Typically its cheaper to make purchases a few weeks or months ahead of time so be sure to plan your trip accordingly.</p>
    </div>
</div>

<div class="container">
    <div class="image-box">
        <img src="/assets/image2.jpg" alt="Reservation Image 2">
        <div class="overlay">
            <a href="https://www.expedia.com/" class="expedia-box">Expedia</a>
        </div>
    </div>
    <div class="text-box">
        <h2 class="page2text">Cruises</h2>
        <p class="page2mini">Cruises are often a great alternative for those who want more economic options or for those who potentially might be afraid of flying. Expedia often offers great rates. Do note that Carribean cruises are typically limited in their itinerary and port location.</p>
    </div>
</div>

<div class="container">
    <div class="image-box">
        <img src="/assets/image3.jpg" alt="Reservation Image 3">
        <div class="overlay">
            <a href="https://www.booking.com/" class="booking-box">Booking</a>
        </div>
    </div>
    <div class="text-box">
        <h2 class="page2text">Hotels</h2>
        <p class="page2mini">Where you stay is just as important as where you go. Below is a list of a collection of some affordable and quality hotels that you may want to check out. </p>

</div>

</body>
{% include 'footer' %}
</main>
</html>