<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'Tours | Lucayan Archipelago' %}
<body class="tours">
    {% include 'header' %}
    <main>
        <h1>
            Tours
        </h1>
        <h2 class="Sitelinks">
            <a href="https://www.getyourguide.com/bahamas-l169063/">Get Your Guide</a>
        </h2>
        <h3>
            Get Your Guide hosts everything you need to plan your stay.
        </h3>
        <h4>
            It contains collections of events ranging from individual activities such as reef snorkeling with pigs to full guided tours. 
        </h4>
        <h2 class="Sitelinks">
            <a href="https://bs.usembassy.gov/">US Embassy</a>
        </h2>
        <h3>
            Safety is always the number one priority
        </h3>
        <h4>
            Especially so when you're in a foreign country. Always stay up to date on current events and keep your travel documents prepared.
        </h4>
    </main>
    {% include 'footer' %}
</body>
</html>
