<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'Tours | Lucayan Archipelago' %}
<body class="tours">
    {% include 'header' %}

<main>
    <h1>
        Tours
    </h1>
<body>
<div class="container">
    <div class="image-box">
        <img src="/assets/image2-1.jpg" alt="Tour Image">
        <div class="overlay">
            <a href="https://www.getyourguide.com/bahamas-l169063/" class="get-box">Get Your Guide</a>
        </div>
    </div>
    <div class="text-box">
        <h2 class="page2text">Activities</h2>
        <p class="page2mini">This website hosts everything you need to plan your stay. Containing collections of events ranging from individual activities such as reef snorkeling with pigs to full guided tours.</p>
    </div>
</div>

<div class="container">
    <div class="image-box">
        <img src="/assets/image2-2.jpg" alt="Tour Image 2">
        <div class="overlay">
            <a href="https://bs.usembassy.gov/" class="embassy-box">Embassy</a>
        </div>
    </div>
    <div class="text-box">
        <h2 class="page2text">Travel Advisory</h2>
        <p class="page2mini">Safety is always the number one priority. Especially so when you're in a foreign country. Always stay up to date on current events and keep your travel documents prepared.</p>
    </div>
</div>

</body>
{% include 'footer' %}
</main>
</html>