<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'Turks and Caico | Lucayan Archipelago' %}
<body class="turksandcaico">
    {% include 'header' %}

<main>
    <h1>
        Turks and Caico
    </h1>
<body>
<div class="container">
    <div class="image-box">
        <img src="/assets/image3-1.jpg" alt="TC Image 1">
        <div class="overlay">
            <a href="https://www.travelocity.com/" class="travel-box">Travelocity</a>
        </div>
    </div>
    <div class="text-box">
        <h2 class="page2text">Travel</h2>
        <p class="page2mini">People usually think of the Bahamas when you mention the Carribeans, but Turks and Caico are an equally lovely vacation get away.</p>
    </div>
</div>

<div class="container">
    <div class="image-box">
        <img src="/assets/image3-2.jpg" alt="TC Image 2">
        <div class="overlay">
            <a href="https://www.getyourguide.com/turks-and-caicos-islands-l169188/" class="island-box">Get Your Guide</a>
        </div>
    </div>
    <div class="text-box">
        <h2 class="page2text">Activities</h2>
        <p class="page2mini">Turks and Caicos offers a myriad of activities for visitors seeking sun-soaked adventures and relaxation.</p>
    </div>
</div>

<div class="container">
    <div class="image-box">
        <img src="/assets/image3-3.jpg" alt="TC Image 3">
        <div class="overlay">
            <a href="https://travel.state.gov/content/travel/en/international-travel/International-Travel-Country-Information-Pages/TurksandCaicosIslands.html" class="embassy2-box">Embassy</a>
        </div>
    </div>
    <div class="text-box">
        <h2 class="page2text">Travel Safety</h2>
        <p class="page2mini">Safety is always the number one priority. Especially so when you're in a foreign country. Always stay up to date on current events and keep your travel documents prepared.</p>

</div>

</body>
{% include 'footer' %}
</main>
</html>