<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'Turks and Caico | Lucayan Archipelago' %}
<body class="turksandcaico">
    {% include 'header' %}
    <main>
        <h1>
            Turks and Caico
        </h1>
        <h2 class="Sitelinks">
            <a href="https://www.travelocity.com/">Travelocity</a>
        </h2>
        <h3>
            People usually think of the Bahamas when you mention the Carribeans, but Turks and Caico are an equally lovely vacation get away
        </h3>
        <h4>
            All previous websites presented are also useful in finding flights and festivities that best work for you.
        </h4>
    </main>
    {% include 'footer' %}
</body>
</html>
